In [24]:
#print 0 to 20 by using range
start=int(input("Starting"))
End=int(input("End"))
for num in range(start,End):
    print(num)

Starting 0
End 20

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [25]:
#print range 10 to 20
start1=int(input("Starting"))
End1=int(input("End"))
for num in range(start1,End1):
    print(num, end =' ')

Starting 10
End 20

10 11 12 13 14 15 16 17 18 19

In [26]:
n1=int(input("Enter"))
n2=int(input("Enter"))
n3=int(input("Enter"))
n4=int(input("Enter"))
n5=int(input("Enter"))
n6=int(input("Enter"))
n7=int(input("Enter"))

nums=[n1,n2,n3,n4,n5,n6,n7]
print(nums)
print("Number of item in the list:", len(nums))

Enter 10
Enter 20
Enter 14
Enter 55
Enter 43
Enter 87

[10, 20, 14, 55, 43, 87, 76]
Number of item in the list: 7

In [27]:
char=input("word")
print(char)
for letter in char:
    print(letter)

word Artificial Intelligence

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [31]:
List=("-Your Name-", "-Your Age-", "-Your Profession-")
for order in List:
    print(order)

-Your Name-
-Your Age-
-Your Profession-

In [16]:
#print this mixered datatype using Tuples
tup=(1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [17]:
tup1=(0,1,2,3)
tup2=('python', 'Hope')
tuple=(tup1,tup2)
print(tuple)

((0, 1, 2, 3), ('python', 'Hope'))

In [22]:
# print Odd Numbers in the list
tup3=(20,10,16,19,25,1,276,188)
print(tup3)
for num in tup3:
    if(num%2==1):
        print(num, "is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [23]:
# print Even Numbers in the list
print(tup3)
for num in tup3:
    if(num%2==0):
        print(num, "is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even